#pic{
	width: 60%;
	height: 440px;
	border-radius: 5px 5px 5px 5px;
	margin-bottom: 10px;
}

#tex{
	margin-left: 40px;
	padding: 40px;
	padding-top: 250px;
	font-size: 25px;
	font-family: 'Suez One', serif;
	line-height: 40px;
}